.another-user-menu {
  display: none; }

@media only screen and (min-width: 1439px) {
  .another-user-menu {
    display: block;
    margin-right: 11%; } }

@media only screen and (min-width: 1439px) {
  .another-user-menu {
    display: block;
    margin-right: 20%; } }
