.best-posts__header {
  width: 90%;
  height: 50px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(55, 125, 42, 0.27);
          box-shadow: 1px 1px 5px 0 rgba(55, 125, 42, 0.27);
  border: solid 1px rgba(55, 125, 42, 0.27);
  background-color: #ffffff;
  margin: 0 auto 25px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }

.best-posts__header p {
  margin: 15px;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-align: left;
  color: #463b3b; }

.best-posts__header img {
  margin-top: 2px; }
