.followers {
  width: 100%;
  min-height: 618px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(55, 125, 42, 0.27);
          box-shadow: 1px 1px 5px 0 rgba(55, 125, 42, 0.27);
  border: solid 1px rgba(55, 125, 42, 0.27);
  background-color: #f2f3f3; }

.followers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 15px; }

.follower__wrapper {
  width: 200px; }

.follower__wrapper img {
  width: 32px;
  height: auto; }

.follower {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
  padding-top: 10px; }

.follower p {
  margin: 3px 0;
  font-family: Montserrat,sans-serif;
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #463b3b;
  margin: 0 15px; }

.follower p:last-child {
  margin-top: 5px;
  color: #377d2a; }

.follower img {
  border-radius: 50%;
  margin: 0 15px; }

.follower__line {
  display: block;
  margin: 0 auto;
  padding: 0;
  height: 1px;
  width: 90%;
  background-color: #377d2a;
  margin: 5px 2%; }

.follower__button {
  width: 127px;
  height: 28px;
  border-radius: 5px;
  border: solid 1px rgba(55, 125, 42, 0.17);
  background-color: #377d2a;
  margin-right: 15px;
  margin-top: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 1.27;
  color: #f9f9f9; }

.follower__button--grey {
  background-color: #90918f; }

@media only screen and (min-width: 423px) {
  .follower p {
    font-size: 15px; }
  .follower img {
    float: left; } }

@media only screen and (min-width: 768px) {
  .followers {
    width: 500px; } }

@media only screen and (min-width: 1023px) {
  .followers {
    width: 620px; } }
