.price-chart__wrapper {
  width: 968px;
  height: 488px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(55, 125, 42, 0.27);
          box-shadow: 1px 1px 5px 0 rgba(55, 125, 42, 0.27);
  border: solid 1px rgba(55, 125, 42, 0.27);
  background-color: #f2f3f3; }
