.profile-menu {
  position: absolute;
  top: 7%;
  left: 66%;
  width: 252px;
  height: 199px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px 0 var(--darkish-green-27);
          box-shadow: 1px 1px 5px 0 var(--darkish-green-27);
  border: solid 1px rgba(55, 125, 42, 0.27);
  background-color: #ffffff; }
