.subscriptions {
  margin-right: 5%;
  margin-left: 5%; }

.subscriptions-header-company {
  width: 100%;
  height: 100px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(55, 125, 42, 0.27);
          box-shadow: 1px 1px 5px 0 rgba(55, 125, 42, 0.27);
  border: solid 1px rgba(55, 125, 42, 0.27);
  background-color: #ffffff;
  margin-bottom: 15px;
  cursor: pointer; }

.subscriptions-header-subscriptions-company {
  margin-top: 15px;
  margin-left: 15px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
  text-align: left;
  color: #463b3b; }

.subscriptions__form {
  margin-left: 5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 28px;
  margin-top: 10px; }

.subscriptions__form-input {
  min-width: 100%;
  padding-left: 30px;
  border-radius: 5px;
  border: solid 1px rgba(55, 125, 42, 0.17);
  background-color: #f9f9f9; }

.subscriptions__form-button {
  position: relative;
  top: 8px;
  height: 20px;
  cursor: pointer;
  left: 20px;
  z-index: 0;
  border: none;
  background-color: inherit;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat; }

@media only screen and (min-width: 1919px) {
  .subscriptions {
    margin-right: 50px; }
  .subscriptions-header-company {
    width: 620px;
    height: 50px;
    border-radius: 15px;
    -webkit-box-shadow: 1px 1px 5px 0 rgba(55, 125, 42, 0.27);
            box-shadow: 1px 1px 5px 0 rgba(55, 125, 42, 0.27);
    border: solid 1px rgba(55, 125, 42, 0.27);
    background-color: #ffffff;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer; }
  .subscriptions__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 220px;
    height: 28px;
    margin-top: 10px;
    margin-right: 20px; } }
